[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.17"
graphviz = ">=0.11.1"
opt-einsum = ">=2.3.0"
h5py = ">=2.9.0"
scipy = ">=1.1"
tensorflow = "*"
pytest = "*"
torch = "*"
jax = "*"
jaxlib = "*"
pylint = "*"
black = "*"
pytest-xdist = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
